services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: ${PG_DATABASE}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data_container:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER}"]
      interval: 30s
      timeout: 10s
      retries: 5
  #
  # backend:
  #   build: ./backend/
  #   ports:
  #     - "${BACKEND_PORT}:${BACKEND_PORT}"
  #   environment:
  #     PG_DATABASE: ${PG_DATABASE}
  #     PG_USER: ${PG_USER}
  #     PG_PASSWORD: ${PG_PASSWORD}
  #     PG_PORT: ${PG_PORT}
  #     PG_CONTAINER: "postgres"
  #     BACKEND_PORT: ${BACKEND_PORT}
  #     JWT_SECRET: ${JWT_SECRET}
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #
volumes:
  pg_data_container:
